html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #EEE;

}

.container {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

#delete {
  background-color: transparent;
  border: none;
}

#blog-body {
  overflow: hidden;
  width:90%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#eye {
  position: absolute;
  top: 35%;
  right: 20px;
  cursor: pointer;
}